*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'poppins', sans-serif;
    text-decoration: none;
    list-style: none;
}
body{
    background-color: #1d2632;
    color: var(--tex-color);
}
.texto {

    width: 100%;
    height: 300%;
    color: #fff;
   text-align:center;
   font-size: 19px;
   font-family: 'kdam thmor Pro', sans-serif; 
}
